<widget id="A6095417521805" version="0.0.1">

    <name>supplychain</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

    <preference name="urlScheme" value="scsjcgsj"/>

    <feature name="bMap">
        <param name="android_api_key" value="hR5FfzHYPRb17TRn15mrrkRbzOs2Flbx"/>
        <param name="ios_api_key" value="RziBnaeg6reKbdv7ckoNInnpGXWrakpH"/>
    </feature>

    <feature name="ajpush">
        <param name="app_key" value="1ac56d4b0d5602e8bd402c17"/>
        <param name="channel" value="qudaohao"/>
    </feature>

    <feature name="wxPay">
        <param name="urlScheme" value="wx2c86a37f960d25d5"/>
        <param name="apiKey" value="wx2c86a37f960d25d5"/>
        <param name="apiSecret" value="9d4f0ba7de05c537d46b24ffa600e922"/>
    </feature>
    <feature name="aliPayPlus">
        <param name="urlScheme" value="AliPayPlusA6095417521805"/>
    </feature>

</widget>
